.header-color{
  background:  #7EC0C2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #B4DADB ,  #7EC0C2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #B4DADB ,  #7EC0C2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.landing-grid{
  /*
  background: #614385; 
  background: -webkit-linear-gradient(to bottom, #f2fcfe, #614385); 
  background: linear-gradient(to bottom, #f2fcfe, #614385); 
  */
  text-align: center;
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.projects-grid{
  margin:auto;
	display: -webkit-flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/*fonts
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather Sans', sans-serif; */
.contact-body{
  margin: auto;
  /*position: fixed;*/
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  text-align: center;;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
  color: #717171;
  /*margin-bottom: 20px;*/
}
/*
.contact-text{
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
}*/

.contact-grid h2{
  font-family: 'Merriweather Sans', sans-serif;
}

.contact-grid p{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: .4em dotted #9fd5d1;
  width: 50%;
  margin: auto;
}

.contact-list{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.contact-list i{
  font-size: 3em;
  padding-right: 4rem;
  color: #81d8d0;
}



.avatar-img{
  height: 250px;
  padding: 5em;
  padding-top: 7em;
  font-weight: bold;
}

.banner-text{
  display: flex;
  flex-direction: column;
  background-color: #5dc1b9;
  opacity: .8;
  width: 75%;
  height: auto;
  margin: auto;
  border-radius: .7em;
  margin-bottom: 3em;
}

.banner-text h2{
  font-size: 3.4em;
  font-weight: bold;
  color: #004357;
  margin-top: 1em;
  line-height: 1.5em;
}

.banner-text hr {
 border-top: .4em dotted white;
 width: 50%;
 margin: auto; 
}

.banner-text p {
  color: #001a57;
  font-size: 2em;
  padding: 1em;
  line-height: 1.5em;
}

.social-links{
  display:flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 0.4em;
}

/*Resume page */

.resume-description{
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #9783b4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #9783b4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  

}

.resume-description i{
  font-size: 3em;
  padding: .3em;
}

.resume-description a{
  color: white;
}

.resume-right-col{
  color: grey;
  padding:2em;
}

.resume-right-col h2{
  color: #16a2ab;
}

.resume-right-col h4{
  color: #51256d;
}