body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  font-size:6vw;
}

p{
  font-size:2vw;
}

.NavBar{
  display: none;
}

.portfolio-container{
 
  display:flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
	width: 90%;
	max-width: 1200px
}

.portfolio-home{
  width: 100%;
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: column;
}

.about-botton{
    position: fixed;
    transform-origin: 0 0;
    transform: rotate(270deg);
    bottom: center;
    right: 950px;
     
}


.project-list{
  background-size: cover;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;

}

.project-card{
  display:flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
}



.project-img{

  width: 600px;
	height: 400px;
  background-size: cover;
  padding: 1em;
  margin: 3em;
}

.project-img > * {
  border: 1px solid red; 
  width: 100%;
  flex: 1 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img p:nth-child(1) {
  font-size:5vw;
  color: white;
  font-size: 3vw;
  transform: translate(-49%, 135%);
}

.project-img p:nth-child(2) {
  color: white;
  font-size: 1vw;
  transform: translate(-50%, 318%);
}

.navigation-widget{
display: block;
float:left;
width:100%;
overflow-y: auto;
max-height: 100px;
background-color: blueviolet;
}

.about-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;


}

/*icons div */
.about-icons{

}

.about-resume{
  
}

/* icons image */
.icons-network{
 padding: 10px;
 width: 90px;

}
