body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{

}

p{

}

.NavBar{
  display: none;
}

.portfolio-container{
 
  display:flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	width: 100%;
	max-width: 100%;
}

.portfolio-home{
  
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
 /* flex-direction: column;*/
  background-color:  #DCE3E7;
}

.name{
 color: #16a2ab;
}

.about-botton{
    position: fixed;
    transform-origin: 0 0;
    transform: rotate(270deg);
    bottom: center;
    top: 55%; 
    left:5%;
    color: #51256d;
}

.go-top{
  position: fixed;
  background:none;
  color:inherit;
  border:none; 
  padding:0;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
  bottom: center;
  right: 5%;
}

.project-list{
  background-size: cover;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
  

}

.project-card{
  display:flex;
  background-color: #DCE3E7;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}




.project-img{

  width: 600px;
	height: 400px;
  background-size: cover;
  /*
  padding: 1em;
  margin: 3em;
*/
}
/* margin-top, margin-bottom*/


.project-img > * {
  border: 1px; 
  width: 100%;
  flex: 1 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img p:nth-child(1) {
  font-size:5vw;
  color: #a6a6a6;
  font-size: 4vw;
  transform: translate(-50%, 225%);
}

.project-img p:nth-child(2) {
  color: #a6a6a6;
  font-size: 2vw;
  transform: translate(-50%, 335%);
}

.navigation-widget{/*
display: block;
float:left;
width:100%;
overflow-y: auto;
max-height: 100px;*/
height: 80%;
width: 90px;
position: absolute;
top: 10%;
right: 6%;
z-index: 100;
transform: translateZ(0);

background-color: blueviolet;
}

.about-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;


}

/*icons div */
.about-icons{

}

.about-resume{
  
}

/* icons image */
.icons-network{
 padding: 10px;
 width: 90px;

}

/*project component */

.portada{
  
  background-color: #DCE3E7;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.description{
  /*
  background-color: #16a2ab; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.details{
  /* deliverable and url
  background-color: #51256d;*/
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.menu-icon{/*
  width: fit-content;
  height: fit-content;
  align-content: center;
  bottom: top;*/
  display: flex;
  justify-content: right;
  align-content: right;
  align-items: right;
}

/* el css de la animación
.lateral-bars {
  position         : absolute;
  top              : 37px;
  left             : 10px;
  height           : 6px;
  width            : 40px;
  background-color : #51256d;
  transition       : background-color 100ms ease-in;
  
  &::before {
    content          : '';
    position         : absolute;
    top              : -12px;
    left             : 0;
    height           : 6px;
    width            : 40px;
    background-color : #51256d;
    transition       : all 150ms ease-in-out;
  }
  
  &::after {
    content          : '';
    position         : absolute;
    bottom           : -12px;
    left             : 0;
    height           : 6px;
    width            : 40px;
    background-color : #51256d;
    transition       : all 150ms ease-in-out;
  }
  
  .center {
    height          : 60px;
    width           : 60px;
    position        : absolute;
    top             : -27px;
    left            : -10px;
    font-size       : 0em;
    line-height     : 60px;
    text-align      : center;
    text-decoration : none;
    color           : #51256d;
    cursor          : pointer;
    user-select     : none;
    z-index         : 2;
    transition      : font-size 275ms ease-out;
  }

}

.burger-menu{
  
  &:hover {
    .lateral-bars {
      background-color : transparent;

      .center {
        font-size : 1.25em;
      }

      &::before {
        width : 60px;
        left  : -10px;
        top   : -22px;
      }

      &::after {
        width  : 60px;
        left   : -10px;
        bottom : -22px;
      }

    }

  }

}
*/


@media only screen
and (max-width : 1170px)
{

  .about-botton{

    z-index: 1;
    border-color: transparent;
    
    /*
    position: fixed;
    transform-origin: 0 0;
    transform: rotate(270deg);
    bottom: center;
    top: 55%; 
    left:5%;
    color: black;*/
  }
  .project-img{
    /*
    width: 400px;
    height: 250px;
    background-size: cover;*/

  }
  
  .project-img > * {
   /* border: 1px solid red; */
    width: 100%;
    flex: 1 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project-img p:nth-child(1) {
    font-size:5vw;
    transform: translate(0%, 200%);
  }
  
  .project-img p:nth-child(2) {
    font-size: 3vw;
    transform: translate(0%, 280%);
  }
}

.cipher-container{

}