body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.NavBar{
  display: none;
}

.portfolio-container{
  display:flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.portfolio-home{
  width: 100%;
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: column;
}


.project-list{
  background-size: cover;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;

}

.project-img{
  background-size: cover;
  display: flex;
}

.navigation-widget{
float:left;
width:100px;
overflow-y: auto;
max-height: 100px;
background-color: blueviolet;
}

.about-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;


}

/*icons div */
.about-icons{

}

.about-resume{
  
}

/* icons image */
.icons-network{
 padding: 10px;
 width: 90px;

}
